<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DMS Test Suite">

  <test thread-count="5" name="Login Test">
     <classes>
      <class name="dms.Test.LoginTest"/>
     </classes>
  </test> 
  <test thread-count="5" name="Designation Test">
    <classes>
     <class name="dms.Test.CreateDesignation"/>
    </classes>
  </test> 
  <test thread-count="5" name="Users Test">
    <classes>
      <class name="dms.Test.UsersTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Departments Test">
    <classes>
      <class name="dms.Test.DepartmentsTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Projects Test">
    <classes>
       <class name="dms.Test.ProjectsTest"/>
    </classes>
  </test>
      
</suite> <!-- Suite -->
